html,
body {
    height: 100%;
}

body {
    background-color: #f9f9f9;
}

#head {
    height: 74px;
    background-image: url(/img/home/header.png);
    box-shadow: 0 0 4px #1c89e5;
    position: relative;
    z-index: 1;
}

#nav {
    width: 200px;
    background-color: #ffffff;
    position: relative;
    box-shadow: 0 0 2px #1c89e5;
}

.nav__list {
    list-style-type: none;
    margin: 0;
    padding-left: 80px;
}

.nav__list__item {
    line-height: 74px;
    font-weight: bold;
}

.nav__list__item::before {
    content: ">"
}

.subList {
    margin-left: -80px;
    background-color: #f9f9f9;
    padding-left: 120px;
    font-size: 14px;
}

.subList__item {
    height: 50px;
    line-height: 50px;
}