<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="renderer" content="webkit">
    <title>主页</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="bookmark" href="/favicon.ico" />
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/page/home.css">
</head>

<body>
    <header id="head">

    </header>
    <nav id="nav">
        <ul class="nav__list">
            <li class="nav__list__item">
                <a href="#">系统首页</a>
            </li>
            <li class="nav__list__item">
                <a href="#">账号管理</a>
                <ul class="subList">
                    <li class="subList__item"><a href="#">学生账号</a></li>
                    <li class="subList__item"><a href="#">教师账号</a></li>
                    <li class="subList__item"><a href="#">管理账号</a></li>
                </ul>
            </li>
            <li class="nav__list__item">
                <a href="#">账号管理</a>
            </li>
            <li class="nav__list__item">
                <a href="#">账号管理</a>
            </li>
            <li class="nav__list__item">
                <a href="#">账号管理</a>
            </li>
        </ul>
    </nav>
    <main id="app">
    </main>
    <script src=" /js/common.js "></script>
</body>

</html>