<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="renderer" content="webkit">
    <title>主页</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="bookmark" href="/favicon.ico" />
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/page/home.css">
    <script src="/js/lib/vue.js"></script>
    <script src="/js/lib/axios.min.js"></script>
</head>

<body>
    <header id="head">

    </header>
    <nav id="nav">
        <ul class="nav__list">
            <li class="nav__list__item">
                <a href="#">系统首页</a>
            </li>
            <li class="nav__list__item">
                <a href="#">账号管理</a>
            </li>
        </ul>
    </nav>
    <main id="app">
        <button @click="getInfo">111</button>
    </main>
    <script src=" /js/common.js "></script>
    <script>
        new Vue({
            el: '#app',
            methods: {
                getInfo() {
                    axios.get(oaURL.api.pageUsers(), {
                        params: {
                            fields: ['12', '2121', '1212']
                        }
                    })

                    return;
                    axios.post(
                            oaURL.api.pageUsers(),
                            objectToForm({
                                currentPage: 1,
                                pageSize: 10,
                                token: localStorage.getItem('token'),
                            }), {
                                withCredentials: true
                            }
                        )
                        .then(function(res) {
                            console.log(res.data);
                            switch (res.data.flag) {
                                case 1:
                                    console.log('获取信息成功！');
                                    console.log(res.data.pageBean.items);
                                    break;
                                case 0:
                                    console.warn('获取信息失败！');
                                    break;
                                default:
                                    console.error('服务器开了小差，请等一等。');
                                    break;
                            }
                        })
                        .catch(function(err) {
                            console.error(err);
                        });
                },
                searchSchInfo() {
                    axios({
                            url: oaURL.api.searchSchInfo(),
                            method: 'post',
                            data: objectToForm({
                                token: localStorage.getItem('token')
                            }),
                            withCredentials: true
                        })
                        .then(function(res) {
                            console.log(res.data);
                            switch (res.data.flag) {
                                case 1:
                                    console.log('获取信息成功！');
                                    break;
                                case 0:
                                    console.warn('获取信息失败！');
                                    break;
                                default:
                                    console.error('服务器开了小差，请等一等。');
                                    break;
                            }
                        })
                        .catch(function(err) {
                            console.error(err);
                        });
                }
            }
        });
    </script>
</body>

</html>