<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SecretHtml</title>
    <link th:src="@{/initCss/bootstrap.css}" rel="stylesheet">
    <link th:src="@{/initCss/bootstrap-theme.css}" rel="stylesheet">
    <script th:src="@{/initJavaScript/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/initJavaScript/vue.min.js}"></script>
    <script th:src="@{/initJavaScript/bootstrap.min.js}"></script>

</head>
<body>
<div id="example">
    <ul>
        <li v-for="(item,index) in items">
            {{index}}.{{item.text}}
        </li>
    </ul>
</div>
<script>
    new Vue({
        el:"#example",
        data:{
            items:[
                {text:"lizhenyu"},
                {text:"project testing"}
            ]
        }
    });
</script>
</body>
</html>