#__bs_notify__ {
    display: none!important;
}

body {
    padding: 0;
    margin: 0;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
}

form {
    font-size: 0;
}

input {
    border: 0;
    padding: 0;
    outline: none;
}

input[type="submit"] {
    background-color: transparent;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: rgb(175, 174, 180);
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgb(175, 174, 180);
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgb(175, 174, 180);
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(175, 174, 180);
}

a {
    color: #666666;
    text-decoration: none;
}